<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
		<BuildTool.Properties.Settings>
      <setting name="RepoLocation" serializeAs="String">
          <value>C:\Dev\Repos\</value>
      </setting>
  </BuildTool.Properties.Settings>
    </applicationSettings>
    <userSettings>
		<BuildTool.Properties.Settings>
      <setting name="CopyAppFilesComand" serializeAs="String">
          <value>gulp 07-Copy-App</value>
      </setting>
      <setting name="PublishAllProjectsComand" serializeAs="String">
          <value>gulp 03-Publish-All-Projects</value>
      </setting>
      <setting name="BuildSolutionComand" serializeAs="String">
          <value>gulp Build-Solution</value>
      </setting>
      <setting name="PublishFoundationProjectsComand" serializeAs="String">
          <value>gulp Publish-Foundation-Projects</value>
      </setting>
      <setting name="PublishFeatureProjectsComand" serializeAs="String">
          <value>gulp Publish-Feature-Projects</value>
      </setting>
      <setting name="PublishProjectProjectsComand" serializeAs="String">
          <value>gulp Publish-Project-Projects</value>
      </setting>
      <setting name="ApplyXmlTransformComand" serializeAs="String">
          <value>gulp 04-Apply-Xml-Transform</value>
      </setting>
      <setting name="SyncUnicornComand" serializeAs="String">
          <value>gulp 05-Sync-Unicorn</value>
      </setting>
      <setting name="GitBashPath" serializeAs="String">
          <value>C:\Program Files\Git\git-cmd.exe</value>
      </setting>
      <setting name="BuildComand" serializeAs="String">
          <value>npm run build</value>
      </setting>
      <setting name="BuildDebugCommand" serializeAs="String">
          <value>npm run build-debug</value>
      </setting>
      <setting name="CmdPath" serializeAs="String">
          <value>C:\Program Files\Git\git-cmd.exe</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
          <value>300</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
          <value>Normal</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="CICleanComand" serializeAs="String">
          <value>CI-Clean</value>
      </setting>
      <setting name="CIPublishFoundationComand" serializeAs="String">
          <value>Publish-Foundation-Projects</value>
      </setting>
      <setting name="CIPublishFeatureComand" serializeAs="String">
          <value>Publish-Feature-Projects</value>
      </setting>
      <setting name="CIPublishProjectComand" serializeAs="String">
          <value>Publish-Project-Projects</value>
      </setting>
      <setting name="CICommandBase" serializeAs="String">
          <value>gulp {0} --gulpfile gulpfile-ci.js</value>
      </setting>
      <setting name="CIDevComand" serializeAs="String">
          <value>CI-And-Prepare-Files-DEV</value>
      </setting>
      <setting name="CIUatComand" serializeAs="String">
          <value>CI-And-Prepare-Files-UAT</value>
      </setting>
      <setting name="CIProdComand" serializeAs="String">
          <value>CI-And-Prepare-Files-PROD</value>
      </setting>
      <setting name="SrcMainFolders" serializeAs="String">
          <value>Feature, Foundation, Project</value>
      </setting>
      <setting name="PublishProjectCommand" serializeAs="String">
          <value>gulp Publish-Project -m {0}</value>
      </setting>
  </BuildTool.Properties.Settings>
    </userSettings>
</configuration>